* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(228, 225, 225);
}

.header {
	height: 100px;
	display: flex;
	align-items: center;
	background-color: rgb(44, 166, 203);
	color: rgb(240, 240, 240);
	margin-bottom: 20px;
}

.logo {
	width: 300px;
	height: 52px;
	background-image: url(../img/logo1.png);
	background-repeat: no-repeat;
}

.info {
	width: 100%;
	font-size: 40px;
	font-family: 楷体;
	text-align: center;
}

.slider {
	width: 300px;
	background-color: rgb(250, 250, 250);
}

.container {
	margin-left: 20px;
}

.easyui-tabs {
	width: 100%;
	height: 100%;
}

.tabs-panels{
	height: 100%;
}
/*
.panel{
	display: flex;
	justify-content: space-around;
}*/

